body {
	font-family: Georgia, serif;
	color: gray;
	line-height: 1.4;
	margin: 3em;
}

h1 {
	color: black;
}

em {
	color: black;
}

p {
	margin: 1.4em 0;
}

blockquote {
	font-style: italic;
	border-left: 5px solid #eee;
	padding: 0 0 0 .7em;
	margin: 0;
}

blockquote em {
	font-style: normal;
}